<div #fontassessment style="margin-left:5px;margin-right:5px;">
    <go-to
        #back
        [path]="HOME_ROUTE">
    </go-to>
    <div class="row">        
        <div
            [ngClass]="{
                'col-sm-1': showFilters,
                'col-sm-11': !showFilters
            }">
            <i style="font-size:38px;" class="fa fa-filter" aria-hidden="true" (click)="showFilters=!showFilters"></i>        
        </div>
        <div class="col-sm-6">
            <ng-container *ngIf="selectedFilter && showFilters">
                <button type="button" class="btn btn-success" (click)="do_filter()">
                    Add filter <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <input 
                        class="form-control"
                        type="text"
                        name="filterText"
                        placeholder="Search text"
                        [(ngModel)]="filterText"
                        [value]="filterText"
                        (keyup)="do_filter_keyup($event)"
                />                
            </ng-container>
        </div>          
        <div *ngIf="showFilters" class="col-sm-4">
            <label class="btn" style="margin:0px;">
                Filters
            </label>
            <select class="form-control" [(ngModel)]="selectedFilter" name="activeFilter">          
                <option *ngFor="let filter of filters"                    
                        [value]="filter.id">
                        {{filter.name}}
                </option>
            </select>        
        </div>     
    </div>
    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div> 
    <ng-container *ngIf="activeFilters && activeFilters.length">
        <br>
        <div class="row" >
            <button mat-raised-button
                matTooltip="{{active.textoToSearch}}"
                style="margin-right:5px;margin-left:5px;"
                *ngFor="let active of activeFilters" type="button" class="btn btn-warning">
                {{active.filter.name}}
                <span ngbTooltip="active.textoToSearch">
                    <i (click)="deleteActualFilter(active.id)" class="fa fa-times" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <br>
    </ng-container>
    <table #table class="table table-hover table-responsive">
        <thead class="thead-dark">
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Hair</th>
            <th>Professions</th>
            <th>Friends</th>
        </thead>
        <tbody>            
            <ng-container *ngFor="let gnome of data">
                <tr *ngIf="gnome.display && gnome.scrollDisplay">
                    <td>
                        <img width="100px" height="80px" src="{{gnome.thumbnail}}"/>
                    </td>
                    <td>
                        {{gnome.name}}
                    </td>
                    <td>
                        {{gnome.age}}
                    </td>
                    <td>
                        {{gnome.height}}
                    </td>
                    <td>
                        {{gnome.weight}}
                    </td>
                    <td>  
                        {{gnome.hair_color}}
                    </td>
                    <td style="overflow:auto;">
                        {{gnome.professions}}
                    </td>
                    <td style="overflow:auto;">  
                        {{gnome.friends}}
                    </td>
                </tr>
            </ng-container>            
        </tbody>
        <tfoot>            
        </tfoot>
    </table>
</div>